/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    background-color: #dfdfdf;
  }
  
  nav {
    justify-content: flex-end;
    display: flex;
    font-size: 0.875em;
    gap: 0.5rem;
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
    background-color:white;
    box-shadow: 0 1px 2px rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: 5px;
  }
  
  nav a {
    display: inline-block;
  }
  
  main {
    max-width: 1024px;
    margin: 0 auto;
  }
  
  .notice {
    color: green;
  }
  
  section.product {
    display: flex;
    gap: 1rem;
    flex-direction: row;
  }
  
  section.product img {
    border-radius: 8px;
    flex-basis: 50%;
    max-width: 50%;
  }
  h1{
    text-align: center;
    text-shadow: 0 0 10px rgb(97, 200, 200),
    0 0 20px rgb(108, 199, 179);
    ;
  }
  .trangchu{
    background-color:white;
    padding:10px;
    line-height: 30px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  }
  .form-newsp{
    padding:15px;
    margin:0 auto;
    width:600px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    line-height: 20px;
  }
  .form-newsp input#product_name{
    width:100%;
  }
.showsp{
  background-color: white;
  box-shadow: 0 1px 2px rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border-radius: 5px;
  padding: 10px;
}